<div class="container">
  <h1 id="username"><span><%=@user.screen_name %></span>'s Tweets</h1>
  <div id="hidden" display="hidden" data-stale="<%=@user.tweets_stale?%>"></div>
</div>

<%= erb :_posts, :layout => false, :locals => {tweets: @user.tweets} %>